.input {
  padding: $inputPaddingY $inputPaddingX;
  color: $inputTextColor;
  background-color: $inputBgColor;

  &:focus {
    color: $focusTextColor;
    background-color: $focusBgColor;
  }
}

.required::after {
  content: '*';
  color: red;
}

.mainInputContainer {
  width: 100%;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.labelForInput {
  color: $appGrayDarkColor;
  font-size: 14px;

  &Container {
    margin-bottom: 4px;
    margin-left: 4px;
  }
}

%inputField {
  width: 100%;
  border: none;
  box-shadow: $boxShadow1;
  padding: 8px 1rem;
  border: solid 1px $appGrayBrightColor;

  &Container {
    position: relative;
    margin-bottom: 2rem;
  }

  &:focus {
    outline: none;
  }
}

.inputField {
  @extend %inputField;
  height: 40px;

  &Container {
    position: relative;
    margin-bottom: 2rem;
  }
}

.textAreaField {
  @extend %inputField;
  height: 80px;
  min-height: 40px;
  max-height: 160px;
  min-width: 100%;
  max-width: 100%;
}
